name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: FFCS Test Case
      id: ffcs-test-case
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: FFCS Test Case
        setup-command: ''
        command: bash tests/test.sh
        timeout: 10
        max-score: 25
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        FFCS-TEST-CASE_RESULTS: "${{steps.ffcs-test-case.outputs.result}}"
      with:
        runners: ffcs-test-case
